body {
    margin: 0;
    padding: 0;
    background: #222;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

.top-nav {
    padding: 20px 16px 20px 16px;
}

.nav-logo {
    color: #e8676b;
    font-size: 24px;
    font-family: 'Arial Black', "Arial Rounded MT Bold", Helvetica, sans-serif;
    float: left;
    line-height: 40px;
}

.nav-logo a {
    color: inherit;
}

.nav-logo .card {
    color: #9a9da2;
    margin-left: 4px;
}

nav {
    float: right;
}

.nav-sub {
    float: right;
}

.nav-sub li {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    line-height: 40px;
}

.nav-sub li a {
    color: inherit;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.nav-sub li a:hover {
    border-bottom: 3px solid #e8676b;
}