body {
    margin: 0;
    padding: 0;
    background: rgb(239, 239, 239);;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}


/* loading animation */
.loadingWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #aaa;
    z-index: 10000;
}

.loadingWrapper.loaded {
    display: none;
}

#loading {
    width: 15px;
    height: 15px;
    background-color: #222;
    border-radius: 50%;
    animation: explode linear 1s infinite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loading:after {
    content: "";
    width: inherit;
    height: inherit;
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    border-radius: inherit;
    animation: inherit;
    animation-delay: 0s;
}

@keyframes explode {
  from {
    transform: scale(1)
      opacity: .8;
  }
  to {
    transform: scale(3);
      opacity: 0;
  }
}

/* Navbar area */
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.top-nav {
    padding: 20px 16px 20px 16px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    transition: all .4s;
}

.top-nav.navChange {
    background-color: #fff;
    box-shadow: 1px 5px 6px 0 rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding: 15px 16px 15px 16px;
}

.top-nav.navChange .nav-sub li{
    color: #3D4450;
}

.nav-logo {
    color: #e8676b;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    float: left;
    line-height: 40px;
}

.nav-logo a {
    color: inherit;
}

.nav-logo .card {
    color: #9a9da2;
    margin-left: 4px;
}

.top-nav nav {
    float: right;
}

.nav-sub {
    float: right;
}

.nav-sub li {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    line-height: 40px;
    position: relative;
}

.nav-sub li a {
    color: inherit;
    padding-bottom: 5px;
    position: relative;
}

.nav-sub li a:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -2px;
    left: 0;
    background: #e8676b;
    display: block;
    transition: all .4s;
}

.nav-sub li.active a:after, .nav-sub li.highlight a:after {
    width: 100%;
}


.submenu .nav-sub-nav {
    position: absolute;
    white-space: nowrap;
    color: #3D4450;
    right: 0;
    top: 100%;
    transition: all .4s;
    display: none;
    background: #FFFFFF;
    box-shadow: 1px 5px 6px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}

.nav-sub-nav li{
    color: #3D4450;
    cursor: pointer;
}


.submenu.active .nav-sub-nav {
    display: block;
    animation: submenuSlide .4s ease-in-out;
}

@keyframes submenuSlide {
    from {
        margin-right: 100%;
        opacity: 0;
    }
    to {
        margin-right: 0%;
        opacity: 1;
    }
}

[data-x].offset {
    transform: translateY(100px);
    opacity: 0;
}

[data-x] {
    transform: translateY(0);
    transition: all .4s;
    opacity: 1;
}

/* Banner Area */
.banner {
    background-image: url(./img/1.jpg);
    background-position: center;
    background-size: cover;
    height: 516px;
}

.banner-shade {
    height: 516px;
    background-color: rgba(0, 0, 0, 0.7);
}






/* Card area */

.profile-card {
    max-width: 940px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    /* padding: 57px 65px 68px 50px; */
    box-sizing: border-box;
    margin-top: -340px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.card-upper {
    padding: 50px;
}

.card-profile {
    float: left;
    
}

.card-info {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.card-info .hello {
    background-color: #e6686a;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.card-info .hello .triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-width: 10px;
    border-style: solid;
    border-left: 10px solid #e6686a;
    top: 65%;
    left: 5px;
    
}

.card-info .name .name-unique{
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.card-info .name {
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    color: rgb(61, 68, 81);
    margin-bottom: 5px;
}

.card-info .name-title {
    font-size: 18px;
    font-family: "Open Sans" sans-serif;
    color: rgb(61, 68, 81);
    margin-bottom: 25px;
}

.card-info hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
    margin-bottom: 30px;
}

.card-info dl dt,
.card-info dl dd {
    padding: 5px 0;
}

.card-info dl dt {
    width: 30%;
    float: left;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    
}

.card-info dl dd {
    width: 70%;
    color: rgb(157, 160, 167);
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}


/* card footer area */

.card-social-media {
    text-align: center;
    background-color: #e6686a;
}
.card-social-media a {
    display: inline-block;
    padding: 7.5px 0;
    width: 40px;
    line-height: 25px;
    margin: 16px;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.card-social-media a svg {
    height: 25px;
    width: 25px;
    fill: white;
    vertical-align: top;
}

.card-social-media a:hover {
    background: #CF5D5F;
}


/* download button */

.download-resume-wrap {
    text-align: center;
}

.download {
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgb(61, 68, 81);
    display: inline-block;
    border: 1px solid rgb(203, 205, 207);
    padding: 21px 55px;
    line-height: 16px;
    margin: 35px 0 40px 0;
    transition: all 0.3s ease-out;
}

.download:hover {
    opacity: 0.95;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

/* self-introduction */
.self-introduction {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 16px;
}

/* Skill section area */
.skill-section {
    margin: 85px 0;
}

.skill-section h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 33px;
}

.skillbar {
    max-width: 940px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 45px 50px 0; 
}

.skillbar ul li:nth-child(even) {
    float: right;
}
.skillbar ul li {
    margin-bottom: 45px;
    float: left;
    width: 48%;
}
.skillbar ul .skillname {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 4px;
}

.skill-section .progressbar {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: #FFE9EA;
}

.skill-section.offset .skillbar ul li .progress {
    width: 0%;
    height: 100%;
    background: rgb(232, 103, 107);
}


.skill-section .skillbar ul li .progress {
    width: 50%;
    height: 100%;
    background: rgb(232, 103, 107);
    transition: all 4s;
}


/* Protofolio Area */
.portofolio {
    margin-bottom: 30px;
    text-align: center;
}
.portofolio h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 33px;
}

.portofolio nav {
    text-align: center;
    display: inline-block;
}
.portofolio nav ul{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.portofolio nav ul li {
    float: left;
    margin-left: 50px;
    cursor: pointer;
}

.portofolio nav ul li:nth-child(1) {
    margin-left: 0; 
}

.portofolio nav .bar {
    display: block;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    margin-top: 15px;
}

.portofolio nav .bar .bar-content {
    height: 100%;
    background: rgb(232, 103, 107);
    width: 30px;
    transition: all .5s;
    border-radius: 3px;
}

.portofolio nav .bar.state-1 .bar-content {
    margin-left: 0;
    width: 30px;
}
.portofolio nav .bar.state-2 .bar-content {
    margin-left: 70px;
    width: 75px;
}
.portofolio nav .bar.state-3 .bar-content {
    margin-left: 190px;
    width: 90px;
}
.portofolio nav .bar.state-4 .bar-content {
    margin-left: 320px;
    width: 90px;
}
.portofolio nav .bar.state-5 .bar-content {
    margin-left: 460px;
    width: 72px;
}

/* Works Area */
.works {
    margin: 0 auto;
    width: 910px;
    height: 570px;
    position: relative;
    margin-bottom: 100px;
    transform: translateY(50px)
}

.works .big, .works .small  {
    position: absolute;
}

.works .big {
    float: left;
    left: 0;
    top 0;
}
.works .small {
    display: block;
    left: 617px;   
    top: 0;
}

.works .small img:nth-child(2) {
    margin-top: 20px;
}